<ion-view view-title="COLLECTION">
<ion-content class="background">


<tab-slide-box tab="0">
                    <div class="tsb-icons">
                        <div class="tsb-ic-wrp">
                            <ion-scroll direction="x" class="tsb-hscroll scroll-view ionic-scroll scroll-hide"><div class="scroll" style="transform: translate3d(0px, 0px, 0px) scale(1);">

                                <a href="javascript:;" >Swatch</a>
                                <a href="javascript:;" >Texture &amp; Sheen</a>

<div class="scroll-bar-indicator scroll-bar-fade-out" style="transform: translate3d(0px, 0px, 0px) scaleX(1); width: 428px; transform-origin: left center 0px;"></div></div></ion-scroll>

                        </div>
                    </div>
                    <ion-slide-box show-pager="false" on-slide-changed="slideHasChanged($index)">
                        <ion-slide>
                            <ion-content>
                                <div class="">
                                    <div class="">
                                      <img src="img/swatch.jpg" alt=""  class="full-image"/>
                                    </div>
                                </div>
                            </ion-content>
                        </ion-slide>
                        <ion-slide>
                            <ion-content>
                                <div class="">
                                    <div class="">
                                      <img src="img/texture.jpg" alt=""  class="full-image"/>

                                    </div>
                                </div>
                            </ion-content>
                        </ion-slide>
                      </ion-slide-box>
              </tab-slide-box>
  </ion-content >

  </ion-view>
