<ion-view view-title="COLLECTION">
  <ion-nav-buttons side="left">
    <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <button class="button button-icon button-clear ln-share2 share" ng-click="share()"></button>
  </ion-nav-buttons>
  <ion-content>
    <div class="singleproduct text-center toptexture" ng-if="getoneproduct.name">
      <h4>{{getoneproduct.name}}</h4>
      <h5>{{getoneproduct.size}}</h5>
    </div>
    <div class="texturehead" ng-if="getoneproduct.swatchImage">Texture</div>
    <div class="mabt-5">
      <img ng-src="{{getoneproduct.swatchImage|uploadpath}}" class="full-image" />
    </div>
    <div class="texturehead" ng-if="getoneproduct.texturerAndSceneImage">Scene</div>
    <div class="mabt-5">
      <img ng-src="{{getoneproduct.texturerAndSceneImage|uploadpath}}" class="full-image" />
    </div>
  </ion-content>
</ion-view>
