<ion-view view-title="WELCOME">
  <ion-nav-bar class="bar-stable nav-height bar bar-royal">
        <ion-nav-buttons side="left">
            <button class="button button-icon button-clear ion-navicon sigupIconLeft disblock" menu-toggle="left">
        </button>
        </ion-nav-buttons>
        <!--<ion-nav-buttons side="right">
            <button class="button button-clear ion-android-more-vertical sigupRight disblock" ng-click="popover.show($event)">
      </button>
        </ion-nav-buttons>-->
    </ion-nav-bar>
  <ion-content class="background">


     <div class="relative" >
      
      <ion-slides class="homeSubsliders" options="homeSlider.sliderOptions" on-slide-changed="slideChanged(index)" slider="homeSlider.sliderDelegate"
        autoplay="5000">
        <ion-slide-page >
          <div class="homeImage">
            
  <img src="img/MOBILE-screen-1.jpg" alt="">
  
  <div class="banner-desc text-center" >
    <div class="banner-logo center-block">
      <!--<img src="img/logo.png" class="full-image" alt="EWL-Logo">-->
    </div>
    <div class="banner-text">
      <!--<h4 class="text-uppercase">Complete wooden flooring solutions</h4>-->
    </div>
  </div>  
</div>
        </ion-slide-page>
         <ion-slide-page >
          <div class="homeImage">
  <img src="img/MOBILE-screen-2.jpg" alt="">
  <div class="banner-desc text-center" >
    <div class="banner-logo center-block">
      <!--<img src="img/logo.png" class="full-image" alt="EWL-Logo">-->
    </div>
    <div class="banner-text">
      <!--<h4 class="text-uppercase">Complete wooden flooring solutions</h4>-->
    </div>
  </div>
</div>
        </ion-slide-page>
        <ion-slide-page >
          <div class="homeImage">
  <img src="img/MOBILE-screen-3 (1).jpg" alt="">
  <div class="banner-desc text-center" >
    <div class="banner-logo center-block">
      <!--<img src="img/logo.png" class="full-image" alt="EWL-Logo">-->
    </div>
    <div class="banner-text">
      <!--<h4 class="text-uppercase">Complete wooden flooring solutions</h4>-->
    </div>
  </div>
</div>
        </ion-slide-page>
             <ion-slide-page >
          <div class="homeImage">
  <img src="img/MOBILE-screen-4 (1).jpg" alt="">
  <div class="banner-desc text-center" >
    <div class="banner-logo center-block">
      <!--<img src="img/logo.png" class="full-image" alt="EWL-Logo">-->
    </div>
    <div class="banner-text">
      <!--<h4 class="text-uppercase">Complete wooden flooring solutions</h4>-->
    </div>
  </div>
</div>
        </ion-slide-page>
      </ion-slides>
      <!--<div class="banner-desc text-center" ng-if="homeSlider">
        <div class="banner-logo center-block">
          <img src="img/logo.png" class="full-image" alt="EWL-Logo">
        </div>
        <div class="banner-text">
          <h4 class="text-uppercase">Complete wooden flooring solutions</h4>
        </div>
      </div>-->
    </div> 

 <div class="">
      
      <div class="what-we-do">
        <div class="content ">
          <div class="img-holder">
            <div class="title">
              <h1 class="head1">OUR</h1>
              <h1 class="head2">PRODUCT</h1>
            </div>
          </div>
        </div>
      </div>
      <!-- <label for="" class="new-product">OUR PRODUCT
                <hr></label> -->
      <div class="all-product" ng-repeat="all in getcollection" ui-sref="app.product-detail({title:all.name,id:all._id})">
        <img ng-src="{{all.image|uploadpath}}" alt="" class="full-image" />
        <div class="title ">
          <div class="title-text">
            <h2 class="color-light title1">{{all.name}}</h2>
            <!-- <hr class="line"> -->
          </div>

        </div>

      </div>
    </div>
    <!-- <ion-slides class="homeSubsliders" options="homeSlider.sliderOptions" on-slide-changed="slideChanged(index)">
      <ion-slide-page ng-repeat="lb in landingBanner track by $index">
        <img ng-src="{{(lb.image|uploadpath)}}" class="full-image">
        <div class="banner-name">{{lb.name}}</div>
      </ion-slide-page>
    </ion-slides> -->

    <div class="what-we-do">
      <div class="content tmp-process_content">
        <div class="img-holder">
          <div class="title">
            <h1 class="head1">OUR</h1>
            <h1 class="head2">MISSION</h1>
          </div>
        </div>
        <div class="content-slider">
          <p class="white-text">To serve our customers with High quality products and comprehensive flooring solutions through merge of technical
            excellence, stupendous Customer service. Another vital priority for us will be to persuade our clients and associates
            with INNOVATIONS and MORAL COMMITMENTS.</p>
        </div>
      </div>
      <div class="content">
        <div class="img-holder">
          <div class="title">
            <h1 class="head1">OUR</h1>
            <h1 class="head2">VISION</h1>
          </div>
        </div>
        <div class="content-slider">
          <p>
            We intent to be the largest and fastest suppliers for the wooden flooring in India and scattering our products and services
            to international level, with an astonishing team work, all these efforts to set sky-scraping trade standards
            for both industry and for our own establishment, maintaining the ethics, to stronger the professional bond between
            us and our Clients.
          </p>
        </div>
      </div>
    </div>
    <!--<div class="">
                <label for="" class="new-product new">NEW COLLECTION
                <hr></label>
                <div class="">
                    <div class="row">
                        <div class="col col-50">
                            <div class="card newproduct-card" ui-sref="app.product-category">
                                <img src="img/new1.jpg" alt="" class=" full-image" />
                                <h3>Empress AC4</h3>
                            </div>
                        </div>
                        <div class="col col-50">
                            <div class="card newproduct-card" ui-sref="app.product-category">
                                <img src="img/2.jpg" alt="" class=" full-image" />
                                <h3>EKO Parket</h3>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col col-50">
                            <div class="card newproduct-card" ui-sref="app.product-category">
                                <img src="img/3.jpg" alt="" class=" full-image" />
                                <h3>Solid Wood</h3>
                            </div>
                        </div>
                        <div class="col col-50">
                            <div class="card newproduct-card" ui-sref="app.product-category">
                                <img src="img/4.jpg" alt="" class=" full-image" />
                                <h3>Exterior Decking</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>-->
   

    </div>


  </ion-content>
   <div class= "enquire" ng-click="openModal()">
         <i class="fa fa-envelope" aria-hidden="true" ></i>
       </div>
</ion-view>
