<ion-view view-title="WELCOME">
  <ion-content class="background">

    <!--<ion-slide-box on-slide-changed="slideHasChanged($index)" class="pageslider">-->
    <!--<div class="home-banner" id="scrollArea">-->
    <ion-slide-box show-pager="true">
      <ion-slide ng-repeat="hs in homeSlider track by $index">
        <div class="full-banner">
          <div class="full-banner" style="background-image: url({{(hs.image|uploadpath)}});"></div>
          <div class="banner-name">{{hs.name}}</div>
        </div>
      </ion-slide>
    </ion-slide-box>
    <div class="banner-desc text-center">
      <div class="banner-logo center-block">
        <img src="img/logo.png" class="full-image" alt="EWL-Logo">
      </div>
      <div class="banner-text">
        <h2 class="text-uppercase">Complete wooden flooring solutions</h2>
        <h3 class="text-uppercase">Explore wide range of wooden floorings</h3>
      </div>

      <div class="banner-btn center-block" ng-click="goToElement('stop')">
        <button class="btn rounded-prpl-btn text-uppercase">get started</button>
        <div class="banner-dwn-arrow">
          <i class="fa fa-chevron-right" aria-hidden="true"></i>
        </div>
      </div>
    </div>

    <ion-slide-box on-slide-changed="slideChanged(index)">
      <ion-slide ng-repeat="lb in landingBanner track by $index">
        <div class="">
          <img ng-src="{{(lb.image|uploadpath)}}" class="full-image">
          <div class="links">
            <h3 class="head1 text-uppercase">Welcome to <br> Euro Wooden Flooring Pvt. Ltd.</h3>
          </div>
        </div>
      </ion-slide>
    </ion-slide-box>
    <div class="what-we-do">
      <div class="content tmp-process_content">
        <div class="img-holder">
          <div class="title">
            <h1 class="head1">OUR</h1>
            <h1 class="head2">MISSION</h1>
          </div>
        </div>
        <div class="content-slider">
          <p class="white-text">To serve our customers with High quality products and comprehensive flooring solutions through merge of technical
            excellence, stupendous Customer service. Another vital priority for us will be to persuade our clients and associates
            with INNOVATIONS and MORAL COMMITMENTS.</p>
        </div>
      </div>
      <div class="content">
        <div class="img-holder">
          <div class="title">
            <h1 class="head1">OUR</h1>
            <h1 class="head2">VISION</h1>
          </div>
        </div>
        <div class="content-slider">
          <p>
            We intent to be the largest and fastest suppliers for the wooden flooring in India and scattering our products and services
            to international level, with an astonishing team work, all these efforts to set sky-scraping trade standards
            for both industry and for our own establishment, maintaining the ethics, to stronger the professional bond between
            us and our Clients.
          </p>
        </div>
      </div>
    </div>
    <!--<div class="">
                <label for="" class="new-product new">NEW COLLECTION
                <hr></label>
                <div class="">
                    <div class="row">
                        <div class="col col-50">
                            <div class="card newproduct-card" ui-sref="app.product-category">
                                <img src="img/new1.jpg" alt="" class=" full-image" />
                                <h3>Empress AC4</h3>
                            </div>
                        </div>
                        <div class="col col-50">
                            <div class="card newproduct-card" ui-sref="app.product-category">
                                <img src="img/2.jpg" alt="" class=" full-image" />
                                <h3>EKO Parket</h3>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col col-50">
                            <div class="card newproduct-card" ui-sref="app.product-category">
                                <img src="img/3.jpg" alt="" class=" full-image" />
                                <h3>Solid Wood</h3>
                            </div>
                        </div>
                        <div class="col col-50">
                            <div class="card newproduct-card" ui-sref="app.product-category">
                                <img src="img/4.jpg" alt="" class=" full-image" />
                                <h3>Exterior Decking</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>-->
    <div class="">
      <label for="" class="new-product">ALL COLLECTION
                <hr></label>
      <div class="all-product" ng-repeat="all in allproduct" ui-sref="app.product">
        <img ng-src="{{all.image}}" alt="" class="full-image" />
        <div class="title ">
          <div class="title-text">
            <h2 class="color-light title1">{{all.title1}}</h2>
            <!-- <hr class="line"> -->
          </div>

        </div>

      </div>
    </div>

    </div>


  </ion-content>
</ion-view>
