<ion-view view-title="Login">
    <ion-nav-bar class="bar-stable nav-height bar bar-royal">
        <!--<ion-nav-buttons side="left">
            <button class="button button-icon button-clear ion-navicon sigupIconLeft disblock" menu-toggle="left">
        </button>
        </ion-nav-buttons>-->
        <!--<ion-nav-buttons side="right">
            <button class="button button-clear ion-android-more-vertical sigupRight disblock" ng-click="popover.show($event)">
      </button>
        </ion-nav-buttons>-->
    </ion-nav-bar>
    <ion-content>
        <form name="formName" ng-submit="termsPopup(formData);">
        <div class = "signup-logo">   
            <img src="img/logo.png" alt="">
        </div>
<div class="pro-edit text-rite">
        <label class="item item-input" ng-class="{'err': formName.email.$invalid && formName.email.$touched}">
            <span class="input-label">Email Address</span>            
            <input type="email" name="email" ng-model="formData.email" ng-pattern="validEmail" required>
            <span class="error-msg" ng-show="formName.email.$invalid && formName.email.$touched">Please enter valid Email Address</span>
          </label>
         

            <label class="item item-input" ng-class="{'err': formName.password.$invalid && formName.password.$touched}">
            <span class="input-label">Password</span>
            <input type="password" no-paste name="password" ng-change="passwordValidator(formData.password);" maxlength="15" ng-model="formData.password" required>
            <span class="error-msg" ng-show="formName.password.$invalid && formName.password.$touched">Please enter valid Password</span>
            </label>

            

            <div class="text-center m20 padding-horizontal" ui-sref='app.home'>
      <button class="button button-positive button-block" 
        type="submit" ui-sref="app.home">Login</button>
    </div>
    </div>
    
    
    </form>
    </ion-content>
</ion-view>