<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-royal">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>

    <ion-nav-view name="menuContent">
      <!-- <div class="src-btn">
        <button class="button button-light ln-magnifier"></button>
      </div> -->
    </ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-content>
      <ion-list>
        <ion-item class="" ui-sref-active="actives"  menu-close href="#/app/home">
          <i class="icon ln-home3 menu-icon"></i>
          Home
        </ion-item>
        <ion-item class="" ui-sref-active="actives" ui-sref-active="actives"  menu-close href="#/app/product">
          <i class="icon ln-cart-full menu-icon"></i>
          Collection
        </ion-item>
        <ion-item class="" ui-sref-active="actives"  menu-close href="#/app/contact-us">
          <i class="icon ln-phone2 menu-icon"></i>
          Contact Us
        </ion-item>
        <ion-item class="" ui-sref-active="actives"  menu-close href="#/app/about-us">
          <i class="icon ln-user menu-icon"></i>
          About Us
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
