<ion-view view-title="SetPassword">
    <ion-nav-bar class="bar-stable nav-height bar bar-royal">
        <!--<ion-nav-buttons side="left">
            <button class="button button-icon button-clear ion-navicon sigupIconLeft disblock" menu-toggle="left">
        </button>
        </ion-nav-buttons>-->
        <!--<ion-nav-buttons side="right">
            <button class="button button-clear ion-android-more-vertical sigupRight disblock" ng-click="popover.show($event)">
      </button>
        </ion-nav-buttons>-->
    </ion-nav-bar>
    <ion-content>
        <form name="formName" ng-submit="ResetPassword(formData)">
        <div class = "signup-logo">   
            <img src="img/logo.png" alt="">
        </div>
<div class="pro-edit text-rite">
        <label class="item item-input" ng-class="{'err': formName.newpwd.$invalid && formName.newpwd.$touched}">
            <span class="input-label">New Password</span>            
            <input type="password" name="newpwd" ng-model="formData.newPassword" required>
            <span class="error-msg" ng-show="formName.newpwd.$invalid && formName.newpwd.$touched">Please enter valid Email Address</span>
          </label>
         

            <label class="item item-input" ng-class="{'err': formName.conpwd.$invalid && formName.conpwd.$touched}" >
            <span class="input-label">Confirm Password</span>
            <input type="password" no-paste name="conpwd"   ng-model="formData.confirmPassword" required limit-to = "15" >
            <span class="error-msg" ng-show="formName.conpwd.$invalid && formName.conpwd.$touched">Please enter valid Password</span>
            </label>

            

            <div class="text-center m20 padding-horizontal" >
      <button class="button button-royal button-block" ng-disabled="formName.$invalid" type="submit">Go to Login</button>
    </div>
    </div>
    
    </form>
    </ion-content>
</ion-view>