<ion-view view-title="COLLECTION">
<ion-content class="background">


<tab-slide-box tab="0">
                    <div class="tsb-icons">
                        <div class="tsb-ic-wrp">
                            <ion-scroll direction="x" class="tsb-hscroll scroll-view ionic-scroll scroll-hide"><div class="scroll" style="transform: translate3d(0px, 0px, 0px) scale(1);">

                                <a href="javascript:;" >Chalet</a>
                                <a href="javascript:;" >Vintage Loft</a>
                                <a href="javascript:;" >Saltbox</a>
                                <a href="javascript:;">Gallery</a>
                                <a href="javascript:;" >Brick &amp; Board</a>
                                <a href="javascript:;" >Storehouse plank</a>
                                <a href="javascript:;" >Eighteen Seventy-Five</a>
                                <a href="javascript:;" >Ponderosa</a>
                                <a href="javascript:;" >Unique</a>
<div class="scroll-bar-indicator scroll-bar-fade-out" style="transform: translate3d(0px, 0px, 0px) scaleX(1); width: 428px; transform-origin: left center 0px;"></div></div></ion-scroll>

                        </div>
                    </div>
                    <ion-slide-box show-pager="false" on-slide-changed="slideHasChanged($index)">
                        <ion-slide>
                            <ion-content>
                                <div class="">

                                    <div class="">
                                        <div class="row">
                                            <div class="col col-50">
                                                <div class="card newproduct-card" ui-sref="app.collection-detail">
                                                    <img src="img/new1.jpg" alt="" class=" full-image" />
                                                    <h3>Whistler</h3>
                                                    <h4>Hickory</h4>
                                                </div>
                                            </div>
                                            <div class="col col-50">
                                                <div class="card newproduct-card" ui-sref="app.collection-detail">
                                                    <img src="img/2.jpg" alt="" class=" full-image" />
                                                    <h3>Vail</h3>
                                                    <h4>Maple</h4>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col col-50">
                                                <div class="card newproduct-card" ui-sref="app.collection-detail">
                                                    <img src="img/3.jpg" alt="" class=" full-image" />
                                                    <h3>Tremblant</h3>
                                                    <h4>Maple</h4>
                                                </div>
                                            </div>
                                            <div class="col col-50">
                                                <div class="card newproduct-card" ui-sref="app.collection-detail">
                                                    <img src="img/4.jpg" alt="" class=" full-image" />
                                                    <h3>Tahoe</h3>
                                                    <h4>Hickory</h4>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col col-50">
                                                <div class="card newproduct-card" ui-sref="app.collection-detail">
                                                    <img src="img/3.jpg" alt="" class=" full-image" />
                                                    <h3>Meribel</h3>
                                                    <h4>Walnut</h4>
                                                </div>
                                            </div>
                                            <div class="col col-50">
                                                <div class="card newproduct-card" ui-sref="app.collection-detail">
                                                    <img src="img/4.jpg" alt="" class=" full-image" />
                                                    <h3>Aspen</h3>
                                                    <h4>Hickory</h4>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </ion-content>
                        </ion-slide>
                        <ion-slide>
                            <ion-content>
                                <div class="">

                                    <div class="">
                                        <div class="row">
                                            <div class="col col-50">
                                                <div class="card newproduct-card" ui-sref="app.collection-detail">
                                                    <img src="img/new1.jpg" alt="" class=" full-image" />
                                                    <h3>West End</h3>
                                                    <h4>European Oak</h4>
                                                </div>
                                            </div>
                                            <div class="col col-50">
                                                <div class="card newproduct-card" ui-sref="app.collection-detail">
                                                    <img src="img/2.jpg" alt="" class=" full-image" />
                                                    <h3>Railyard</h3>
                                                    <h4>European Oak</h4>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col col-50">
                                                <div class="card newproduct-card" ui-sref="app.collection-detail">
                                                    <img src="img/3.jpg" alt="" class=" full-image" />
                                                    <h3>Millhouse</h3>
                                                    <h4>European Oak</h4>
                                                </div>
                                            </div>
                                            <div class="col col-50">
                                                <div class="card newproduct-card" ui-sref="app.collection-detail">
                                                    <img src="img/4.jpg" alt="" class=" full-image" />
                                                    <h3>Market Square</h3>
                                                    <h4>European Oak</h4>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col col-50">
                                                <div class="card newproduct-card" ui-sref="app.collection-detail">
                                                    <img src="img/3.jpg" alt="" class=" full-image" />
                                                    <h3>Harborside</h3>
                                                    <h4>European Oak</h4>
                                                </div>
                                            </div>
                                            <div class="col col-50">
                                                <div class="card newproduct-card" ui-sref="app.collection-detail">
                                                    <img src="img/4.jpg" alt="" class=" full-image" />
                                                    <h3>Gristmill</h3>
                                                    <h4>European Oak</h4>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col col-50">
                                                <div class="card newproduct-card" ui-sref="app.collection-detail">
                                                    <img src="img/3.jpg" alt="" class=" full-image" />
                                                    <h3>Foundry</h3>
                                                    <h4>European Oak</h4>
                                                </div>
                                            </div>
                                            <div class="col col-50">
                                                <div class="card newproduct-card" ui-sref="app.collection-detail">
                                                    <img src="img/3.jpg" alt="" class=" full-image" />
                                                    <h3>Bricktown</h3>
                                                    <h4>European Oak</h4>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </ion-content>
                        </ion-slide>
                        <ion-slide>
                            <ion-content>
                                <div class="">

                                    <div class="">
                                        <div class="row">
                                            <div class="col col-50">
                                                <div class="card newproduct-card" ui-sref="app.collection-detail">
                                                    <img src="img/new1.jpg" alt="" class=" full-image" />
                                                    <h3>Westfield</h3>
                                                    <h4>Maple</h4>
                                                </div>
                                            </div>
                                            <div class="col col-50">
                                                <div class="card newproduct-card" ui-sref="app.collection-detail">
                                                    <img src="img/2.jpg" alt="" class=" full-image" />
                                                    <h3>Sturbridge</h3>
                                                    <h4>Maple</h4>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col col-50">
                                                <div class="card newproduct-card" ui-sref="app.collection-detail">
                                                    <img src="img/3.jpg" alt="" class=" full-image" />
                                                    <h3>Danvers</h3>
                                                    <h4>Hickory</h4>
                                                </div>
                                            </div>
                                            <div class="col col-50">
                                                <div class="card newproduct-card" ui-sref="app.collection-detail">
                                                    <img src="img/4.jpg" alt="" class=" full-image" />
                                                    <h3>Concord</h3>
                                                    <h4>Maple</h4>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col col-50">
                                                <div class="card newproduct-card" ui-sref="app.collection-detail">
                                                    <img src="img/3.jpg" alt="" class=" full-image" />
                                                    <h3>Brockton</h3>
                                                    <h4>Maple</h4>
                                                </div>
                                            </div>
                                            <div class="col col-50">
                                                <div class="card newproduct-card" ui-sref="app.collection-detail">
                                                    <img src="img/4.jpg" alt="" class=" full-image" />
                                                    <h3>Berkshire</h3>
                                                    <h4>Hickory</h4>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col col-50">
                                                <div class="card newproduct-card" ui-sref="app.collection-detail">
                                                    <img src="img/3.jpg" alt="" class=" full-image" />
                                                    <h3>Benford</h3>
                                                    <h4>Hickory</h4>
                                                </div>
                                            </div>
                                            <div class="col col-50">
                                                <div class="card newproduct-card" ui-sref="app.collection-detail">
                                                    <img src="img/3.jpg" alt="" class=" full-image" />
                                                    <h3>Amhearst</h3>
                                                    <h4>Hickory</h4>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </ion-content>
                        </ion-slide>
                        <ion-slide>
                            <ion-content>
                                <div class="">

                                    <div class="">
                                        <div class="row">
                                            <div class="col col-50">
                                                <div class="card newproduct-card" ui-sref="app.collection-detail">
                                                    <img src="img/new1.jpg" alt="" class=" full-image" />
                                                    <h3>Uffizi</h3>
                                                    <h4>European Oak</h4>
                                                </div>
                                            </div>
                                            <div class="col col-50">
                                                <div class="card newproduct-card" ui-sref="app.collection-detail">
                                                    <img src="img/2.jpg" alt="" class=" full-image" />
                                                    <h3>Pardo</h3>
                                                    <h4>European Oak</h4>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col col-50">
                                                <div class="card newproduct-card" ui-sref="app.collection-detail">
                                                    <img src="img/3.jpg" alt="" class=" full-image" />
                                                    <h3>Philbrook</h3>
                                                    <h4>European Oak</h4>
                                                </div>
                                            </div>
                                            <div class="col col-50">
                                                <div class="card newproduct-card" ui-sref="app.collection-detail">
                                                    <img src="img/4.jpg" alt="" class=" full-image" />
                                                    <h3>Metropolitan</h3>
                                                    <h4>European Oak</h4>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col col-50">
                                                <div class="card newproduct-card" ui-sref="app.collection-detail">
                                                    <img src="img/3.jpg" alt="" class=" full-image" />
                                                    <h3>Louvre</h3>
                                                    <h4>European Oak</h4>
                                                </div>
                                            </div>
                                            <div class="col col-50">
                                                <div class="card newproduct-card" ui-sref="app.collection-detail">
                                                    <img src="img/4.jpg" alt="" class=" full-image" />
                                                    <h3>Hermitage</h3>
                                                    <h4>European Oak</h4>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col col-50">
                                                <div class="card newproduct-card" ui-sref="app.collection-detail">
                                                    <img src="img/3.jpg" alt="" class=" full-image" />
                                                    <h3>D'Orsay</h3>
                                                    <h4>European Oak</h4>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </ion-content>
                        </ion-slide>
                        <ion-slide>
                            <ion-content>
                                <div class="">

                                    <div class="">
                                        <div class="row">
                                            <div class="col col-50">
                                                <div class="card newproduct-card" ui-sref="app.collection-detail">
                                                    <img src="img/new1.jpg" alt="" class=" full-image" />
                                                    <h3>Parlour</h3>
                                                    <h4>Hickory</h4>
                                                </div>
                                            </div>
                                            <div class="col col-50">
                                                <div class="card newproduct-card" ui-sref="app.collection-detail">
                                                    <img src="img/2.jpg" alt="" class=" full-image" />
                                                    <h3>Mantel</h3>
                                                    <h4>White Oak</h4>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col col-50">
                                                <div class="card newproduct-card" ui-sref="app.collection-detail">
                                                    <img src="img/3.jpg" alt="" class=" full-image" />
                                                    <h3>Library</h3>
                                                    <h4>Hickory</h4>
                                                </div>
                                            </div>
                                            <div class="col col-50">
                                                <div class="card newproduct-card" ui-sref="app.collection-detail">
                                                    <img src="img/4.jpg" alt="" class=" full-image" />
                                                    <h3>Hearth</h3>
                                                    <h4>White Oak</h4>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col col-50">
                                                <div class="card newproduct-card" ui-sref="app.collection-detail">
                                                    <img src="img/3.jpg" alt="" class=" full-image" />
                                                    <h3>Inglenook</h3>
                                                    <h4>White Oak</h4>
                                                </div>
                                            </div>
                                            <div class="col col-50">
                                                <div class="card newproduct-card" ui-sref="app.collection-detail">
                                                    <img src="img/4.jpg" alt="" class=" full-image" />
                                                    <h3>Garret</h3>
                                                    <h4>Hickory</h4>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col col-50">
                                                <div class="card newproduct-card" ui-sref="app.collection-detail">
                                                    <img src="img/3.jpg" alt="" class=" full-image" />
                                                    <h3>Atrium</h3>
                                                    <h4>White Oak</h4>
                                                </div>
                                            </div>
                                            <div class="col col-50">
                                                <div class="card newproduct-card" ui-sref="app.collection-detail">
                                                    <img src="img/3.jpg" alt="" class=" full-image" />
                                                    <h3>Alcove</h3>
                                                    <h4>White Oak</h4>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </ion-content>
                        </ion-slide>
                        <ion-slide>
                            <ion-content>
                                <div class="">

                                    <div class="">
                                        <div class="row">
                                            <div class="col col-50">
                                                <div class="card newproduct-card" ui-sref="app.collection-detail">
                                                    <img src="img/new1.jpg" alt="" class=" full-image" />
                                                    <h3>Parcel</h3>
                                                    <h4>White Oak</h4>
                                                </div>
                                            </div>
                                            <div class="col col-50">
                                                <div class="card newproduct-card" ui-sref="app.collection-detail">
                                                    <img src="img/2.jpg" alt="" class=" full-image" />
                                                    <h3>Keg</h3>
                                                    <h4>Hickory</h4>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col col-50">
                                                <div class="card newproduct-card" ui-sref="app.collection-detail">
                                                    <img src="img/3.jpg" alt="" class=" full-image" />
                                                    <h3>Drum</h3>
                                                    <h4>White Oak</h4>
                                                </div>
                                            </div>
                                            <div class="col col-50">
                                                <div class="card newproduct-card" ui-sref="app.collection-detail">
                                                    <img src="img/4.jpg" alt="" class=" full-image" />
                                                    <h3>Crate</h3>
                                                    <h4>Hickory</h4>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col col-50">
                                                <div class="card newproduct-card" ui-sref="app.collection-detail">
                                                    <img src="img/3.jpg" alt="" class=" full-image" />
                                                    <h3>Coffer</h3>
                                                    <h4>White Oak</h4>
                                                </div>
                                            </div>
                                            <div class="col col-50">
                                                <div class="card newproduct-card" ui-sref="app.collection-detail">
                                                    <img src="img/4.jpg" alt="" class=" full-image" />
                                                    <h3>Cask</h3>
                                                    <h4>White Oak</h4>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col col-50">
                                                <div class="card newproduct-card" ui-sref="app.collection-detail">
                                                    <img src="img/3.jpg" alt="" class=" full-image" />
                                                    <h3>Bushel</h3>
                                                    <h4>White Oak</h4>
                                                </div>
                                            </div>
                                            <div class="col col-50">
                                                <div class="card newproduct-card" ui-sref="app.collection-detail">
                                                    <img src="img/3.jpg" alt="" class=" full-image" />
                                                    <h3>Barrel</h3>
                                                    <h4>Hickory</h4>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </ion-content>
                        </ion-slide>
                        <ion-slide>
                            <ion-content>
                                <div class="">

                                    <div class="">
                                        <div class="row">
                                            <div class="col col-50">
                                                <div class="card newproduct-card" ui-sref="app.collection-detail">
                                                    <img src="img/new1.jpg" alt="" class=" full-image" />
                                                    <h3>Westminster</h3>
                                                    <h4>Maple</h4>
                                                </div>
                                            </div>
                                            <div class="col col-50">
                                                <div class="card newproduct-card" ui-sref="app.collection-detail">
                                                    <img src="img/2.jpg" alt="" class=" full-image" />
                                                    <h3>Wandsworth</h3>
                                                    <h4>White Oak</h4>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col col-50">
                                                <div class="card newproduct-card" ui-sref="app.collection-detail">
                                                    <img src="img/3.jpg" alt="" class=" full-image" />
                                                    <h3>Thames</h3>
                                                    <h4>White Oak</h4>
                                                </div>
                                            </div>
                                            <div class="col col-50">
                                                <div class="card newproduct-card" ui-sref="app.collection-detail">
                                                    <img src="img/4.jpg" alt="" class=" full-image" />
                                                    <h3>Surrey</h3>
                                                    <h4>White Oak</h4>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col col-50">
                                                <div class="card newproduct-card" ui-sref="app.collection-detail">
                                                    <img src="img/3.jpg" alt="" class=" full-image" />
                                                    <h3>Putney</h3>
                                                    <h4>White Oak</h4>
                                                </div>
                                            </div>
                                            <div class="col col-50">
                                                <div class="card newproduct-card" ui-sref="app.collection-detail">
                                                    <img src="img/4.jpg" alt="" class=" full-image" />
                                                    <h3>Fairfield</h3>
                                                    <h4>Maple</h4>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col col-50">
                                                <div class="card newproduct-card" ui-sref="app.collection-detail">
                                                    <img src="img/3.jpg" alt="" class=" full-image" />
                                                    <h3>Doddington</h3>
                                                    <h4>Maple</h4>
                                                </div>
                                            </div>
                                            <div class="col col-50">
                                                <div class="card newproduct-card" ui-sref="app.collection-detail">
                                                    <img src="img/3.jpg" alt="" class=" full-image" />
                                                    <h3>Brunel</h3>
                                                    <h4>White Oak</h4>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </ion-content>
                        </ion-slide>
                        <ion-slide>
                            <ion-content>
                                <div class="">

                                    <div class="">
                                        <div class="row">
                                            <div class="col col-50">
                                                <div class="card newproduct-card" ui-sref="app.collection-detail">
                                                    <img src="img/new1.jpg" alt="" class=" full-image" />
                                                    <h3>San Marcos</h3>
                                                    <h4>Birch Oak</h4>
                                                </div>
                                            </div>
                                            <div class="col col-50">
                                                <div class="card newproduct-card" ui-sref="app.collection-detail">
                                                    <img src="img/2.jpg" alt="" class=" full-image" />
                                                    <h3>Pecos</h3>
                                                    <h4>Hickory</h4>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col col-50">
                                                <div class="card newproduct-card" ui-sref="app.collection-detail">
                                                    <img src="img/3.jpg" alt="" class=" full-image" />
                                                    <h3>Navajo</h3>
                                                    <h4>Birch</h4>
                                                </div>
                                            </div>
                                            <div class="col col-50">
                                                <div class="card newproduct-card" ui-sref="app.collection-detail">
                                                    <img src="img/4.jpg" alt="" class=" full-image" />
                                                    <h3>Pueblo</h3>
                                                    <h4>Hickory Oak</h4>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col col-50">
                                                <div class="card newproduct-card" ui-sref="app.collection-detail">
                                                    <img src="img/3.jpg" alt="" class=" full-image" />
                                                    <h3>Alamosa</h3>
                                                    <h4>Hickory</h4>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </ion-content>
                        </ion-slide>
                        <ion-slide>
                            <ion-content>
                                <div class="">
                                    <div class="unique">
                                        <h3>Looking for something unique?</h3>
                                        <p class="p-unique"><a ui-sref="app.contact-us">Let us know</a>
                                            what you are thinking. We can help you create that custom floor you've been dreaming about.</p>
                                    </div>
                                </div>
                            </ion-content>
                        </ion-slide>

                    </ion-slide-box>
            </tab-slide-box>
</ion-content >

</ion-view>
