<ion-view view-title="PRODUCT">
<ion-content class="background">


<tab-slide-box tab="0">
                    <div class="tsb-icons">
                        <div class="tsb-ic-wrp">
                            <ion-scroll direction="x" class="tsb-hscroll scroll-view ionic-scroll scroll-hide"><div class="scroll" style="transform: translate3d(0px, 0px, 0px) scale(1);">

                                <a href="javascript:;" >ALL</a>
                                <a href="javascript:;" >ENGINEERED FLOORING</a>
                                <a href="javascript:;" >EXTERIOR DECKING (WPC)</a>
                                <a href="javascript:;">LAMINATE RANGE</a>
                                <a href="javascript:;" >NATURAL RANGE</a>
<div class="scroll-bar-indicator scroll-bar-fade-out" style="transform: translate3d(0px, 0px, 0px) scaleX(1); width: 428px; transform-origin: left center 0px;"></div></div></ion-scroll>

                        </div>
                    </div>
                    <ion-slide-box show-pager="false" on-slide-changed="slideHasChanged($index)">
                        <ion-slide>
                            <ion-content>
                                <div class="">

                                    <div class="">
                                        <div class="row">
                                            <div class="col col-50">
                                                <div class="card newproduct-card" ui-sref="app.product-detail">
                                                    <img src="img/new1.jpg" alt="" class=" full-image" />
                                                    <h3>Empress AC4</h3>
                                                </div>
                                            </div>
                                            <div class="col col-50">
                                                <div class="card newproduct-card" ui-sref="app.product-detail">
                                                    <img src="img/2.jpg" alt="" class=" full-image" />
                                                    <h3>EKO Parket</h3>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col col-50">
                                                <div class="card newproduct-card" ui-sref="app.product-detail">
                                                    <img src="img/3.jpg" alt="" class=" full-image" />
                                                    <h3>Solid Wood</h3>
                                                </div>
                                            </div>
                                            <div class="col col-50">
                                                <div class="card newproduct-card" ui-sref="app.product-detail">
                                                    <img src="img/4.jpg" alt="" class=" full-image" />
                                                    <h3>Exterior Decking</h3>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </ion-content>
                        </ion-slide>
                        <ion-slide>
                            <ion-content>
                                <div class="">

                                    <div class="">
                                        <div class="row">
                                            <div class="col col-50">
                                                <div class="card newproduct-card" ui-sref="app.product-detail">
                                                    <img src="img/new1.jpg" alt="" class=" full-image" />
                                                    <h3>Empress AC4</h3>
                                                </div>
                                            </div>
                                            <div class="col col-50">
                                                <div class="card newproduct-card" ui-sref="app.product-detail">
                                                    <img src="img/2.jpg" alt="" class=" full-image" />
                                                    <h3>EKO Parket</h3>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col col-50">
                                                <div class="card newproduct-card" ui-sref="app.product-detail">
                                                    <img src="img/3.jpg" alt="" class=" full-image" />
                                                    <h3>Solid Wood</h3>
                                                </div>
                                            </div>
                                            <div class="col col-50">
                                                <div class="card newproduct-card" ui-sref="app.product-detail">
                                                    <img src="img/4.jpg" alt="" class=" full-image" />
                                                    <h3>Exterior Decking</h3>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </ion-content>
                        </ion-slide>
                        <ion-slide>
                            <ion-content>
                                <div class="">

                                    <div class="">
                                        <div class="row">
                                            <div class="col col-50">
                                                <div class="card newproduct-card" ui-sref="app.product-detail">
                                                    <img src="img/new1.jpg" alt="" class=" full-image" />
                                                    <h3>Empress AC4</h3>
                                                </div>
                                            </div>
                                            <div class="col col-50">
                                                <div class="card newproduct-card" ui-sref="app.product-detail">
                                                    <img src="img/2.jpg" alt="" class=" full-image" />
                                                    <h3>EKO Parket</h3>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col col-50">
                                                <div class="card newproduct-card" ui-sref="app.product-detail">
                                                    <img src="img/3.jpg" alt="" class=" full-image" />
                                                    <h3>Solid Wood</h3>
                                                </div>
                                            </div>
                                            <div class="col col-50">
                                                <div class="card newproduct-card" ui-sref="app.product-detail">
                                                    <img src="img/4.jpg" alt="" class=" full-image" />
                                                    <h3>Exterior Decking</h3>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </ion-content>
                        </ion-slide>
                        <ion-slide>
                            <ion-content>
                                <div class="">

                                    <div class="">
                                        <div class="row">
                                            <div class="col col-50">
                                                <div class="card newproduct-card" ui-sref="app.product-detail">
                                                    <img src="img/new1.jpg" alt="" class=" full-image" />
                                                    <h3>Empress AC4</h3>
                                                </div>
                                            </div>
                                            <div class="col col-50">
                                                <div class="card newproduct-card" ui-sref="app.product-detail">
                                                    <img src="img/2.jpg" alt="" class=" full-image" />
                                                    <h3>EKO Parket</h3>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col col-50">
                                                <div class="card newproduct-card" ui-sref="app.product-detail">
                                                    <img src="img/3.jpg" alt="" class=" full-image" />
                                                    <h3>Solid Wood</h3>
                                                </div>
                                            </div>
                                            <div class="col col-50">
                                                <div class="card newproduct-card" ui-sref="app.product-detail">
                                                    <img src="img/4.jpg" alt="" class=" full-image" />
                                                    <h3>Exterior Decking</h3>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </ion-content>
                        </ion-slide>
                        <ion-slide>
                            <ion-content>
                                <div class="">

                                    <div class="">
                                        <div class="row">
                                            <div class="col col-50">
                                                <div class="card newproduct-card">
                                                    <img src="img/new1.jpg" alt="" class=" full-image" />
                                                    <h3>Empress AC4</h3>
                                                </div>
                                            </div>
                                            <div class="col col-50">
                                                <div class="card newproduct-card" ui-sref="app.product-detail">
                                                    <img src="img/2.jpg" alt="" class=" full-image" />
                                                    <h3>EKO Parket</h3>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col col-50">
                                                <div class="card newproduct-card" ui-sref="app.product-detail">
                                                    <img src="img/3.jpg" alt="" class=" full-image" />
                                                    <h3>Solid Wood</h3>
                                                </div>
                                            </div>
                                            <div class="col col-50">
                                                <div class="card newproduct-card" ui-sref="app.product-detail">
                                                    <img src="img/4.jpg" alt="" class=" full-image" />
                                                    <h3>Exterior Decking</h3>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </ion-content>
                        </ion-slide>

                    </ion-slide-box>
            </tab-slide-box>
</ion-content >

</ion-view>
