<ion-view view-title="COLLECTION">
  <ion-content class="background">
<div class="  headcollect"><p>Let us help you find the perfect<br>floor for your home.</p></div>
<div class="card newproduct-card" ui-sref="app.product-detail({title:all.name,id:all._id})" ng-repeat="all in getcollection">
  <img ng-src="{{all.image|uploadpath}}" alt="" class=" full-image" />
  <div class="cat-div">
    <!-- <h3 class="cat-head">Name :</h3> -->
    <h3 class="cat">{{all.name}}</h3>
  </div>
  <!-- <div class="cat-div">
    <h3 class="cat-head">Dim :</h3>
    <h3 class="cat">HDF 8mm x 1215mm x 195mm</h3>
  </div>
  <div class="cat-div">
    <h3 class="cat-head">Grade :</h3>
    <h3 class="cat">Ac3</h3>
  </div> -->
</div>
    <!-- <tab-slide-box tab="0">
      <div class="tsb-icons">
        <div class="tsb-ic-wrp">
          <ion-scroll direction="x" class="tsb-hscroll scroll-view ionic-scroll scroll-hide">
            <div class="scroll" style="transform: translate3d(0px, 0px, 0px) scale(1);">

              <a href="javascript:;">Chalet</a>
              <a href="javascript:;">Vintage Loft</a>
              <a href="javascript:;">Saltbox</a>
              <a href="javascript:;">Gallery</a>
              <a href="javascript:;">Brick &amp; Board</a>
              <a href="javascript:;">Storehouse plank</a>
              <a href="javascript:;">Eighteen Seventy-Five</a>
              <a href="javascript:;">Ponderosa</a>
              <a href="javascript:;">Unique</a>
              <div class="scroll-bar-indicator scroll-bar-fade-out" style="transform: translate3d(0px, 0px, 0px) scaleX(1); width: 428px; transform-origin: left center 0px;"></div>
            </div>
          </ion-scroll>

        </div>
      </div>
      <ion-slide-box show-pager="false" on-slide-changed="slideHasChanged($index)">
        <ion-slide>
          <ion-content>
            <div class="">
              <div class="card newproduct-card" ui-sref="app.collection-detail">
                <img src="img/BL303.jpg" alt="" class=" full-image" />
                <div class="cat-div">
                  <h3 class="cat-head">Name :</h3>
                  <h3 class="cat">BL 302 Scarlett Merbau</h3>
                </div>
                <div class="cat-div">
                  <h3 class="cat-head">Dim :</h3>
                  <h3 class="cat">HDF 8mm x 1215mm x 195mm</h3>
                </div>
                <div class="cat-div">
                  <h3 class="cat-head">Grade :</h3>
                  <h3 class="cat">Ac3</h3>
                </div>
              </div>
              <div class="card newproduct-card" ui-sref="app.collection-detail">
                <img src="img/BL304.jpg" alt="" class=" full-image" />
                <div class="cat-div">
                  <h3 class="cat-head">Name :</h3>
                  <h3 class="cat">BL 302 Scarlett Merbau</h3>
                </div>
                <div class="cat-div">
                  <h3 class="cat-head">Dim :</h3>
                  <h3 class="cat">HDF 8mm x 1215mm x 195mm</h3>
                </div>
                <div class="cat-div">
                  <h3 class="cat-head">Grade :</h3>
                  <h3 class="cat">Ac3</h3>
                </div>
              </div>
              <div class="card newproduct-card" ui-sref="app.collection-detail">
                <img src="img/BL305.jpg" alt="" class=" full-image" />
                <div class="cat-div">
                  <h3 class="cat-head">Name :</h3>
                  <h3 class="cat">BL 302 Scarlett Merbau</h3>
                </div>
                <div class="cat-div">
                  <h3 class="cat-head">Dim :</h3>
                  <h3 class="cat">HDF 8mm x 1215mm x 195mm</h3>
                </div>
                <div class="cat-div">
                  <h3 class="cat-head">Grade :</h3>
                  <h3 class="cat">Ac3</h3>
                </div>
              </div>
              <div class="card newproduct-card" ui-sref="app.collection-detail">
                <img src="img/BL306.jpg" alt="" class=" full-image" />
                <div class="cat-div">
                  <h3 class="cat-head">Name :</h3>
                  <h3 class="cat">BL 302 Scarlett Merbau</h3>
                </div>
                <div class="cat-div">
                  <h3 class="cat-head">Dim :</h3>
                  <h3 class="cat">HDF 8mm x 1215mm x 195mm</h3>
                </div>
                <div class="cat-div">
                  <h3 class="cat-head">Grade :</h3>
                  <h3 class="cat">Ac3</h3>
                </div>
              </div>
            </div>
          </ion-content>
        </ion-slide>
        <ion-slide>
          <ion-content>
            <div class="">
              <div class="card newproduct-card" ui-sref="app.collection-detail">
                <img src="img/BL303.jpg" alt="" class=" full-image" />
                <div class="cat-div">
                  <h3 class="cat-head">Name :</h3>
                  <h3 class="cat">BL 302 Scarlett Merbau</h3>
                </div>
                <div class="cat-div">
                  <h3 class="cat-head">Dim :</h3>
                  <h3 class="cat">HDF 8mm x 1215mm x 195mm</h3>
                </div>
                <div class="cat-div">
                  <h3 class="cat-head">Grade :</h3>
                  <h3 class="cat">Ac3</h3>
                </div>
              </div>
              <div class="card newproduct-card" ui-sref="app.collection-detail">
                <img src="img/BL304.jpg" alt="" class=" full-image" />
                <div class="cat-div">
                  <h3 class="cat-head">Name :</h3>
                  <h3 class="cat">BL 302 Scarlett Merbau</h3>
                </div>
                <div class="cat-div">
                  <h3 class="cat-head">Dim :</h3>
                  <h3 class="cat">HDF 8mm x 1215mm x 195mm</h3>
                </div>
                <div class="cat-div">
                  <h3 class="cat-head">Grade :</h3>
                  <h3 class="cat">Ac3</h3>
                </div>
              </div>
              <div class="card newproduct-card" ui-sref="app.collection-detail">
                <img src="img/BL305.jpg" alt="" class=" full-image" />
                <div class="cat-div">
                  <h3 class="cat-head">Name :</h3>
                  <h3 class="cat">BL 302 Scarlett Merbau</h3>
                </div>
                <div class="cat-div">
                  <h3 class="cat-head">Dim :</h3>
                  <h3 class="cat">HDF 8mm x 1215mm x 195mm</h3>
                </div>
                <div class="cat-div">
                  <h3 class="cat-head">Grade :</h3>
                  <h3 class="cat">Ac3</h3>
                </div>
              </div>
              <div class="card newproduct-card" ui-sref="app.collection-detail">
                <img src="img/BL306.jpg" alt="" class=" full-image" />
                <div class="cat-div">
                  <h3 class="cat-head">Name :</h3>
                  <h3 class="cat">BL 302 Scarlett Merbau</h3>
                </div>
                <div class="cat-div">
                  <h3 class="cat-head">Dim :</h3>
                  <h3 class="cat">HDF 8mm x 1215mm x 195mm</h3>
                </div>
                <div class="cat-div">
                  <h3 class="cat-head">Grade :</h3>
                  <h3 class="cat">Ac3</h3>
                </div>
              </div>
            </div>
          </ion-content>
        </ion-slide>
        <ion-slide>
          <ion-content>
            <div class="">
              <div class="card newproduct-card" ui-sref="app.collection-detail">
                <img src="img/BL303.jpg" alt="" class=" full-image" />
                <div class="cat-div">
                  <h3 class="cat-head">Name :</h3>
                  <h3 class="cat">BL 302 Scarlett Merbau</h3>
                </div>
                <div class="cat-div">
                  <h3 class="cat-head">Dim :</h3>
                  <h3 class="cat">HDF 8mm x 1215mm x 195mm</h3>
                </div>
                <div class="cat-div">
                  <h3 class="cat-head">Grade :</h3>
                  <h3 class="cat">Ac3</h3>
                </div>
              </div>
              <div class="card newproduct-card" ui-sref="app.collection-detail">
                <img src="img/BL304.jpg" alt="" class=" full-image" />
                <div class="cat-div">
                  <h3 class="cat-head">Name :</h3>
                  <h3 class="cat">BL 302 Scarlett Merbau</h3>
                </div>
                <div class="cat-div">
                  <h3 class="cat-head">Dim :</h3>
                  <h3 class="cat">HDF 8mm x 1215mm x 195mm</h3>
                </div>
                <div class="cat-div">
                  <h3 class="cat-head">Grade :</h3>
                  <h3 class="cat">Ac3</h3>
                </div>
              </div>
              <div class="card newproduct-card" ui-sref="app.collection-detail">
                <img src="img/BL305.jpg" alt="" class=" full-image" />
                <div class="cat-div">
                  <h3 class="cat-head">Name :</h3>
                  <h3 class="cat">BL 302 Scarlett Merbau</h3>
                </div>
                <div class="cat-div">
                  <h3 class="cat-head">Dim :</h3>
                  <h3 class="cat">HDF 8mm x 1215mm x 195mm</h3>
                </div>
                <div class="cat-div">
                  <h3 class="cat-head">Grade :</h3>
                  <h3 class="cat">Ac3</h3>
                </div>
              </div>
              <div class="card newproduct-card" ui-sref="app.collection-detail">
                <img src="img/BL306.jpg" alt="" class=" full-image" />
                <div class="cat-div">
                  <h3 class="cat-head">Name :</h3>
                  <h3 class="cat">BL 302 Scarlett Merbau</h3>
                </div>
                <div class="cat-div">
                  <h3 class="cat-head">Dim :</h3>
                  <h3 class="cat">HDF 8mm x 1215mm x 195mm</h3>
                </div>
                <div class="cat-div">
                  <h3 class="cat-head">Grade :</h3>
                  <h3 class="cat">Ac3</h3>
                </div>
              </div>
            </div>
          </ion-content>
        </ion-slide>
        <ion-slide>
          <ion-content>
            <div class="">
              <div class="card newproduct-card" ui-sref="app.collection-detail">
                <img src="img/BL303.jpg" alt="" class=" full-image" />
                <div class="cat-div">
                  <h3 class="cat-head">Name :</h3>
                  <h3 class="cat">BL 302 Scarlett Merbau</h3>
                </div>
                <div class="cat-div">
                  <h3 class="cat-head">Dim :</h3>
                  <h3 class="cat">HDF 8mm x 1215mm x 195mm</h3>
                </div>
                <div class="cat-div">
                  <h3 class="cat-head">Grade :</h3>
                  <h3 class="cat">Ac3</h3>
                </div>
              </div>
              <div class="card newproduct-card" ui-sref="app.collection-detail">
                <img src="img/BL304.jpg" alt="" class=" full-image" />
                <div class="cat-div">
                  <h3 class="cat-head">Name :</h3>
                  <h3 class="cat">BL 302 Scarlett Merbau</h3>
                </div>
                <div class="cat-div">
                  <h3 class="cat-head">Dim :</h3>
                  <h3 class="cat">HDF 8mm x 1215mm x 195mm</h3>
                </div>
                <div class="cat-div">
                  <h3 class="cat-head">Grade :</h3>
                  <h3 class="cat">Ac3</h3>
                </div>
              </div>
              <div class="card newproduct-card" ui-sref="app.collection-detail">
                <img src="img/BL305.jpg" alt="" class=" full-image" />
                <div class="cat-div">
                  <h3 class="cat-head">Name :</h3>
                  <h3 class="cat">BL 302 Scarlett Merbau</h3>
                </div>
                <div class="cat-div">
                  <h3 class="cat-head">Dim :</h3>
                  <h3 class="cat">HDF 8mm x 1215mm x 195mm</h3>
                </div>
                <div class="cat-div">
                  <h3 class="cat-head">Grade :</h3>
                  <h3 class="cat">Ac3</h3>
                </div>
              </div>
              <div class="card newproduct-card" ui-sref="app.collection-detail">
                <img src="img/BL306.jpg" alt="" class=" full-image" />
                <div class="cat-div">
                  <h3 class="cat-head">Name :</h3>
                  <h3 class="cat">BL 302 Scarlett Merbau</h3>
                </div>
                <div class="cat-div">
                  <h3 class="cat-head">Dim :</h3>
                  <h3 class="cat">HDF 8mm x 1215mm x 195mm</h3>
                </div>
                <div class="cat-div">
                  <h3 class="cat-head">Grade :</h3>
                  <h3 class="cat">Ac3</h3>
                </div>
              </div>
            </div>
          </ion-content>
        </ion-slide>
        <ion-slide>
          <ion-content>
            <div class="">
              <div class="card newproduct-card" ui-sref="app.collection-detail">
                <img src="img/BL303.jpg" alt="" class=" full-image" />
                <div class="cat-div">
                  <h3 class="cat-head">Name :</h3>
                  <h3 class="cat">BL 302 Scarlett Merbau</h3>
                </div>
                <div class="cat-div">
                  <h3 class="cat-head">Dim :</h3>
                  <h3 class="cat">HDF 8mm x 1215mm x 195mm</h3>
                </div>
                <div class="cat-div">
                  <h3 class="cat-head">Grade :</h3>
                  <h3 class="cat">Ac3</h3>
                </div>
              </div>
              <div class="card newproduct-card" ui-sref="app.collection-detail">
                <img src="img/BL304.jpg" alt="" class=" full-image" />
                <div class="cat-div">
                  <h3 class="cat-head">Name :</h3>
                  <h3 class="cat">BL 302 Scarlett Merbau</h3>
                </div>
                <div class="cat-div">
                  <h3 class="cat-head">Dim :</h3>
                  <h3 class="cat">HDF 8mm x 1215mm x 195mm</h3>
                </div>
                <div class="cat-div">
                  <h3 class="cat-head">Grade :</h3>
                  <h3 class="cat">Ac3</h3>
                </div>
              </div>
              <div class="card newproduct-card" ui-sref="app.collection-detail">
                <img src="img/BL305.jpg" alt="" class=" full-image" />
                <div class="cat-div">
                  <h3 class="cat-head">Name :</h3>
                  <h3 class="cat">BL 302 Scarlett Merbau</h3>
                </div>
                <div class="cat-div">
                  <h3 class="cat-head">Dim :</h3>
                  <h3 class="cat">HDF 8mm x 1215mm x 195mm</h3>
                </div>
                <div class="cat-div">
                  <h3 class="cat-head">Grade :</h3>
                  <h3 class="cat">Ac3</h3>
                </div>
              </div>
              <div class="card newproduct-card" ui-sref="app.collection-detail">
                <img src="img/BL306.jpg" alt="" class=" full-image" />
                <div class="cat-div">
                  <h3 class="cat-head">Name :</h3>
                  <h3 class="cat">BL 302 Scarlett Merbau</h3>
                </div>
                <div class="cat-div">
                  <h3 class="cat-head">Dim :</h3>
                  <h3 class="cat">HDF 8mm x 1215mm x 195mm</h3>
                </div>
                <div class="cat-div">
                  <h3 class="cat-head">Grade :</h3>
                  <h3 class="cat">Ac3</h3>
                </div>
              </div>
            </div>
          </ion-content>
        </ion-slide>
        <ion-slide>
          <ion-content>
            <div class="">
              <div class="card newproduct-card" ui-sref="app.collection-detail">
                <img src="img/BL303.jpg" alt="" class=" full-image" />
                <div class="cat-div">
                  <h3 class="cat-head">Name :</h3>
                  <h3 class="cat">BL 302 Scarlett Merbau</h3>
                </div>
                <div class="cat-div">
                  <h3 class="cat-head">Dim :</h3>
                  <h3 class="cat">HDF 8mm x 1215mm x 195mm</h3>
                </div>
                <div class="cat-div">
                  <h3 class="cat-head">Grade :</h3>
                  <h3 class="cat">Ac3</h3>
                </div>
              </div>
              <div class="card newproduct-card" ui-sref="app.collection-detail">
                <img src="img/BL304.jpg" alt="" class=" full-image" />
                <div class="cat-div">
                  <h3 class="cat-head">Name :</h3>
                  <h3 class="cat">BL 302 Scarlett Merbau</h3>
                </div>
                <div class="cat-div">
                  <h3 class="cat-head">Dim :</h3>
                  <h3 class="cat">HDF 8mm x 1215mm x 195mm</h3>
                </div>
                <div class="cat-div">
                  <h3 class="cat-head">Grade :</h3>
                  <h3 class="cat">Ac3</h3>
                </div>
              </div>
              <div class="card newproduct-card" ui-sref="app.collection-detail">
                <img src="img/BL305.jpg" alt="" class=" full-image" />
                <div class="cat-div">
                  <h3 class="cat-head">Name :</h3>
                  <h3 class="cat">BL 302 Scarlett Merbau</h3>
                </div>
                <div class="cat-div">
                  <h3 class="cat-head">Dim :</h3>
                  <h3 class="cat">HDF 8mm x 1215mm x 195mm</h3>
                </div>
                <div class="cat-div">
                  <h3 class="cat-head">Grade :</h3>
                  <h3 class="cat">Ac3</h3>
                </div>
              </div>
              <div class="card newproduct-card" ui-sref="app.collection-detail">
                <img src="img/BL306.jpg" alt="" class=" full-image" />
                <div class="cat-div">
                  <h3 class="cat-head">Name :</h3>
                  <h3 class="cat">BL 302 Scarlett Merbau</h3>
                </div>
                <div class="cat-div">
                  <h3 class="cat-head">Dim :</h3>
                  <h3 class="cat">HDF 8mm x 1215mm x 195mm</h3>
                </div>
                <div class="cat-div">
                  <h3 class="cat-head">Grade :</h3>
                  <h3 class="cat">Ac3</h3>
                </div>
              </div>
            </div>
          </ion-content>
        </ion-slide>
        <ion-slide>
          <ion-content>
            <div class="">
              <div class="card newproduct-card" ui-sref="app.collection-detail">
                <img src="img/BL303.jpg" alt="" class=" full-image" />
                <div class="cat-div">
                  <h3 class="cat-head">Name :</h3>
                  <h3 class="cat">BL 302 Scarlett Merbau</h3>
                </div>
                <div class="cat-div">
                  <h3 class="cat-head">Dim :</h3>
                  <h3 class="cat">HDF 8mm x 1215mm x 195mm</h3>
                </div>
                <div class="cat-div">
                  <h3 class="cat-head">Grade :</h3>
                  <h3 class="cat">Ac3</h3>
                </div>
              </div>
              <div class="card newproduct-card" ui-sref="app.collection-detail">
                <img src="img/BL304.jpg" alt="" class=" full-image" />
                <div class="cat-div">
                  <h3 class="cat-head">Name :</h3>
                  <h3 class="cat">BL 302 Scarlett Merbau</h3>
                </div>
                <div class="cat-div">
                  <h3 class="cat-head">Dim :</h3>
                  <h3 class="cat">HDF 8mm x 1215mm x 195mm</h3>
                </div>
                <div class="cat-div">
                  <h3 class="cat-head">Grade :</h3>
                  <h3 class="cat">Ac3</h3>
                </div>
              </div>
              <div class="card newproduct-card" ui-sref="app.collection-detail">
                <img src="img/BL305.jpg" alt="" class=" full-image" />
                <div class="cat-div">
                  <h3 class="cat-head">Name :</h3>
                  <h3 class="cat">BL 302 Scarlett Merbau</h3>
                </div>
                <div class="cat-div">
                  <h3 class="cat-head">Dim :</h3>
                  <h3 class="cat">HDF 8mm x 1215mm x 195mm</h3>
                </div>
                <div class="cat-div">
                  <h3 class="cat-head">Grade :</h3>
                  <h3 class="cat">Ac3</h3>
                </div>
              </div>
              <div class="card newproduct-card" ui-sref="app.collection-detail">
                <img src="img/BL306.jpg" alt="" class=" full-image" />
                <div class="cat-div">
                  <h3 class="cat-head">Name :</h3>
                  <h3 class="cat">BL 302 Scarlett Merbau</h3>
                </div>
                <div class="cat-div">
                  <h3 class="cat-head">Dim :</h3>
                  <h3 class="cat">HDF 8mm x 1215mm x 195mm</h3>
                </div>
                <div class="cat-div">
                  <h3 class="cat-head">Grade :</h3>
                  <h3 class="cat">Ac3</h3>
                </div>
              </div>
            </div>
          </ion-content>
        </ion-slide>
        <ion-slide>
          <ion-content>
            <div class="">
              <div class="card newproduct-card" ui-sref="app.collection-detail">
                <img src="img/BL303.jpg" alt="" class=" full-image" />
                <div class="cat-div">
                  <h3 class="cat-head">Name :</h3>
                  <h3 class="cat">BL 302 Scarlett Merbau</h3>
                </div>
                <div class="cat-div">
                  <h3 class="cat-head">Dim :</h3>
                  <h3 class="cat">HDF 8mm x 1215mm x 195mm</h3>
                </div>
                <div class="cat-div">
                  <h3 class="cat-head">Grade :</h3>
                  <h3 class="cat">Ac3</h3>
                </div>
              </div>
              <div class="card newproduct-card" ui-sref="app.collection-detail">
                <img src="img/BL304.jpg" alt="" class=" full-image" />
                <div class="cat-div">
                  <h3 class="cat-head">Name :</h3>
                  <h3 class="cat">BL 302 Scarlett Merbau</h3>
                </div>
                <div class="cat-div">
                  <h3 class="cat-head">Dim :</h3>
                  <h3 class="cat">HDF 8mm x 1215mm x 195mm</h3>
                </div>
                <div class="cat-div">
                  <h3 class="cat-head">Grade :</h3>
                  <h3 class="cat">Ac3</h3>
                </div>
              </div>
              <div class="card newproduct-card" ui-sref="app.collection-detail">
                <img src="img/BL305.jpg" alt="" class=" full-image" />
                <div class="cat-div">
                  <h3 class="cat-head">Name :</h3>
                  <h3 class="cat">BL 302 Scarlett Merbau</h3>
                </div>
                <div class="cat-div">
                  <h3 class="cat-head">Dim :</h3>
                  <h3 class="cat">HDF 8mm x 1215mm x 195mm</h3>
                </div>
                <div class="cat-div">
                  <h3 class="cat-head">Grade :</h3>
                  <h3 class="cat">Ac3</h3>
                </div>
              </div>
              <div class="card newproduct-card" ui-sref="app.collection-detail">
                <img src="img/BL306.jpg" alt="" class=" full-image" />
                <div class="cat-div">
                  <h3 class="cat-head">Name :</h3>
                  <h3 class="cat">BL 302 Scarlett Merbau</h3>
                </div>
                <div class="cat-div">
                  <h3 class="cat-head">Dim :</h3>
                  <h3 class="cat">HDF 8mm x 1215mm x 195mm</h3>
                </div>
                <div class="cat-div">
                  <h3 class="cat-head">Grade :</h3>
                  <h3 class="cat">Ac3</h3>
                </div>
              </div>
            </div>
          </ion-content>
        </ion-slide>
        <ion-slide>
          <ion-content>
            <div class="">
              <div class="card newproduct-card" ui-sref="app.collection-detail">
                <img src="img/BL303.jpg" alt="" class=" full-image" />
                <div class="cat-div">
                  <h3 class="cat-head">Name :</h3>
                  <h3 class="cat">BL 302 Scarlett Merbau</h3>
                </div>
                <div class="cat-div">
                  <h3 class="cat-head">Dim :</h3>
                  <h3 class="cat">HDF 8mm x 1215mm x 195mm</h3>
                </div>
                <div class="cat-div">
                  <h3 class="cat-head">Grade :</h3>
                  <h3 class="cat">Ac3</h3>
                </div>
              </div>
              <div class="card newproduct-card" ui-sref="app.collection-detail">
                <img src="img/BL304.jpg" alt="" class=" full-image" />
                <div class="cat-div">
                  <h3 class="cat-head">Name :</h3>
                  <h3 class="cat">BL 302 Scarlett Merbau</h3>
                </div>
                <div class="cat-div">
                  <h3 class="cat-head">Dim :</h3>
                  <h3 class="cat">HDF 8mm x 1215mm x 195mm</h3>
                </div>
                <div class="cat-div">
                  <h3 class="cat-head">Grade :</h3>
                  <h3 class="cat">Ac3</h3>
                </div>
              </div>
              <div class="card newproduct-card" ui-sref="app.collection-detail">
                <img src="img/BL305.jpg" alt="" class=" full-image" />
                <div class="cat-div">
                  <h3 class="cat-head">Name :</h3>
                  <h3 class="cat">BL 302 Scarlett Merbau</h3>
                </div>
                <div class="cat-div">
                  <h3 class="cat-head">Dim :</h3>
                  <h3 class="cat">HDF 8mm x 1215mm x 195mm</h3>
                </div>
                <div class="cat-div">
                  <h3 class="cat-head">Grade :</h3>
                  <h3 class="cat">Ac3</h3>
                </div>
              </div>
              <div class="card newproduct-card" ui-sref="app.collection-detail">
                <img src="img/BL306.jpg" alt="" class=" full-image" />
                <div class="cat-div">
                  <h3 class="cat-head">Name :</h3>
                  <h3 class="cat">BL 302 Scarlett Merbau</h3>
                </div>
                <div class="cat-div">
                  <h3 class="cat-head">Dim :</h3>
                  <h3 class="cat">HDF 8mm x 1215mm x 195mm</h3>
                </div>
                <div class="cat-div">
                  <h3 class="cat-head">Grade :</h3>
                  <h3 class="cat">Ac3</h3>
                </div>
              </div>
            </div>
          </ion-content>
        </ion-slide>
        <ion-slide>
          <ion-content>
            <div class="">
              <div class="card newproduct-card" ui-sref="app.collection-detail">
                <img src="img/BL303.jpg" alt="" class=" full-image" />
                <div class="cat-div">
                  <h3 class="cat-head">Name :</h3>
                  <h3 class="cat">BL 302 Scarlett Merbau</h3>
                </div>
                <div class="cat-div">
                  <h3 class="cat-head">Dim :</h3>
                  <h3 class="cat">HDF 8mm x 1215mm x 195mm</h3>
                </div>
                <div class="cat-div">
                  <h3 class="cat-head">Grade :</h3>
                  <h3 class="cat">Ac3</h3>
                </div>
              </div>
              <div class="card newproduct-card" ui-sref="app.collection-detail">
                <img src="img/BL304.jpg" alt="" class=" full-image" />
                <div class="cat-div">
                  <h3 class="cat-head">Name :</h3>
                  <h3 class="cat">BL 302 Scarlett Merbau</h3>
                </div>
                <div class="cat-div">
                  <h3 class="cat-head">Dim :</h3>
                  <h3 class="cat">HDF 8mm x 1215mm x 195mm</h3>
                </div>
                <div class="cat-div">
                  <h3 class="cat-head">Grade :</h3>
                  <h3 class="cat">Ac3</h3>
                </div>
              </div>
              <div class="card newproduct-card" ui-sref="app.collection-detail">
                <img src="img/BL305.jpg" alt="" class=" full-image" />
                <div class="cat-div">
                  <h3 class="cat-head">Name :</h3>
                  <h3 class="cat">BL 302 Scarlett Merbau</h3>
                </div>
                <div class="cat-div">
                  <h3 class="cat-head">Dim :</h3>
                  <h3 class="cat">HDF 8mm x 1215mm x 195mm</h3>
                </div>
                <div class="cat-div">
                  <h3 class="cat-head">Grade :</h3>
                  <h3 class="cat">Ac3</h3>
                </div>
              </div>
              <div class="card newproduct-card" ui-sref="app.collection-detail">
                <img src="img/BL306.jpg" alt="" class=" full-image" />
                <div class="cat-div">
                  <h3 class="cat-head">Name :</h3>
                  <h3 class="cat">BL 302 Scarlett Merbau</h3>
                </div>
                <div class="cat-div">
                  <h3 class="cat-head">Dim :</h3>
                  <h3 class="cat">HDF 8mm x 1215mm x 195mm</h3>
                </div>
                <div class="cat-div">
                  <h3 class="cat-head">Grade :</h3>
                  <h3 class="cat">Ac3</h3>
                </div>
              </div>
            </div>
          </ion-content>
        </ion-slide>
      </ion-slide-box>
    </tab-slide-box> -->

  </ion-content>

</ion-view>
