<ion-view view-title="{{title}}">
  <ion-content class="background">
    <!--<div class="singleproduct">
      <div class="proimg">
        <img ng-src="{{getone.image|uploadpath}}" alt="">
      </div>
      <h3>{{getone.name}}</h3>
      <p ng-bind-html="getone.details"></p>-->
      <!--<div class="englogo" ng-if="getone.name == 'Engineered'">
        <img src="img/logo.png" alt="">
      </div>-->
    <!--</div>  -->
        <div class="card newproduct-card" ng-repeat="all in productBySubcat" ui-sref="app.collection-detail({productId:all._id})">
      <img ng-src="{{all.productImage|uploadpath}}" alt="" class=" full-image" />
      <div class="cat-div">
        <!-- <h3 class="cat-head">Name :</h3> -->
        <h3 class="cat">{{all.name}}</h3>
      </div>
      <!-- <div class="cat-div">
        <h3 class="cat-head">Dim :</h3>
        <h3 class="cat">HDF 8mm x 1215mm x 195mm</h3>
      </div>
      <div class="cat-div">
        <h3 class="cat-head">Grade :</h3>
        <h3 class="cat">Ac3</h3>
      </div> -->
    </div>
    <!--<ion-infinite-scroll ng-if="!stop" on-infinite="loadMore()" distance="5%" >-->
                 <!--</ion-infinite-scroll>-->

    <!-- <ion-slide-box on-slide-changed="slideHasChanged($index)" class="pageslider">
      <ion-slide ng-repeat="item in slider track by $index">
        <div class="">
          <img ng-src="{{item}}" alt="" class="full-image " ui-sref="login">
          <div class="slider-text">


          </div>
        </div>
      </ion-slide>
    </ion-slide-box> -->
    <!-- <div class="">
      <h4 ui-sref="app.login" class="margin-15"> Product Name</h4>
      <div class="margin-15">
        <div class="item">
          <div>
            <div class="border-detail">
              <h5 class="title">
                  Date
              </h5>
              <h5 class="detail">
                  March 2015
              </h5>
            </div>
            <div class="border-detail">
                <h5 class="title">
                    Location
                </h5>
              <h5 class="detail">
                  Kengeri Upanagara, Bangalore
              </h5>
            </div>
            <div class="border-detail">
              <h5 class="title">
                  Value
              </h5>
              <h5 class="detail">
                  4,50,000 Rs.
              </h5>

            </div>
            <div class="border-detail">
              <h5 class="title">
                  Client
              </h5>
              <h5 class="detail">
                  Fix Fashion
              </h5>
            </div>
            <div class="border-detail">
              <h5 class="title">
                  Category
              </h5>
              <h5 class="detail">
                  Natural Range
              </h5>
            </div>
          </div>
        </div>

      </div>
      <div class="discription">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </p>
        <h4>Our Solutions</h4>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
          in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
      </div>
    </div> -->
    </ion-content>
</ion-view>