<ion-view view-title="Search">
  <ion-content>
    <!--<h3>Search</h3>-->
    <div class="searching">
      <input type="text" class="form-control" ng-model="searchText" ng-change="search(searchText)" name="keyword" placeholder="Search...">
      <div class="search-suggest" ng-if="searchText != '' && isText == true">
        <ul class="list-unstyled">
          <li class="ct-name"><span>Product</span></li>
          <!--ng-click="getMySP($index)" -->
          <li class="search-item" ng-click="getProduct($index)" ng-repeat=" item in productArray " ng-if="productArray.length>0">
            <p class="text-wrapper">{{item.name}}</p>
          </li>
          <li class="search-item" ng-if="productArray.length == 0">
            <p class="text-wrapper">No match found</p>
          </li>
        </ul>
        <ul class="list-unstyled">
          <li class="ct-name"><span>Collection</span></li>
          <!--ng-click="getSPByLocation($index,1)"-->
          <li class="search-item" ng-click="getCollection($index)" ng-repeat="item in collectionArray" ng-if="collectionArray.length > 0">
            <p class="text-wrapper">{{item.name}}</p>
          </li>
          <li class="search-item" ng-if="collectionArray.length == 0">
            <p class="text-wrapper">No match found</p>
          </li>
        </ul>
      </div>
    </div>
  </ion-content>
</ion-view>
